///
/// Horizontal Bar Component
/// Matches the style of header.major underlines
///

/* Horizontal Bar */

	.hr-bar {
		margin: _size(element-margin) 0;
		
		.hr-bar-line {
			background-color: _palette(fg-bold);
			display: inline-block;
			height: 2px;
		}

		// Style variants
		@each $i in (1, 2, 3, 4, 5, 6) {
			&.accent#{$i} .hr-bar-line { background-color: _palette(accent#{$i}); }
		}
		&.highlight .hr-bar-line { background-color: _palette(highlight); }
		&.light .hr-bar-line { background-color: _palette(fg-light); }

		// Size variants
		&.thin .hr-bar-line { height: 1px; }
		&.thick .hr-bar-line { height: 4px; }

		// Spacing variants
		&.major {
			margin: (_size(element-margin) * 1.5) 0;
		}

		&.minor {
			margin: (_size(element-margin) * 0.5) 0;
		}

		&.compact {
			margin: (_size(element-margin) * 0.25) 0;
		}
	}

